<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="iotapi"
		label="COM_IOTAPIS_FIELD_CONFIG_INDIVIDUAL_IOTAPI_DISPLAY"
		description="COM_IOTAPIS_FIELD_CONFIG_INDIVIDUAL_IOTAPI_DESC"
		>
		<field
			name="show_iotapi_name_label"
			type="list"
			label="COM_IOTAPIS_FIELD_IOTAPI_SHOW_CATEGORY_LABEL"
			default="1"
			>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
			name="custom_fields_enable"
			type="radio"
			class="switcher"
			label="JGLOBAL_CUSTOM_FIELDS_ENABLE_LABEL"
			default="1"
			>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
			name="show_name"
			type="radio"
			label="COM_IOTAPIS_FIELD_PARAMS_NAME_LABEL"
			default="1"
			class="switcher"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
				name="show_ipaddress"
				type="radio"
				label="COM_IOTAPIS_FIELD_PARAMS_IPADDRESS_LABEL"
				default="1"
				class="switcher"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			validate="rules"
			filter="rules"
			component="com_iotapis"
			section="component"
		/>
	</fieldset>
</config>
